.header {
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    z-index: 2;
    &.top {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }
    &.show {
        background-color: #020c1b;
    }
    &.hide {
        transform: translateY(-60px);
    }

    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
     .menuItems {
        .menuItem {
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0 15px;
            color: white;
            font-weight: 500;
            position: relative;
            &.searchIcon {
                margin-right: 0;
            }
            svg {
                font-size: 18px;
            }
            cursor: pointer;
            &:hover {
                color: #da2f68;
            }
        }
    }
    

    .mobileMenuItems {
    
        svg {
            font-size: 18px;
            color: white;
        }
    }

    &.mobileView {
        background: #020c1b;
        .menuItems {
            display: flex;
            position: absolute;
            top: 60px;
            left: 0;
            background: #020c1b;
            flex-direction: column;
            width: 100%;
            padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            animation: mobileMenu 0.3s ease forwards;
            .menuItem {
                font-size: 20px;
                width: 100%;
                height: auto;
                padding: 15px 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &:last-child {
                    display: none;
                }
            }
        }
    }


    .searchBar {
        animation: mobileMenu 0.3s ease forwards;
        .searchInput {
            display: flex;
            align-items: center;
            height: 40px;
            margin-top: 10px;
            width: 100%;
            svg {
                font-size: 20px;
                flex-shrink: 0;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}